.navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100%;

  &__content {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    margin: 2rem;
    margin-bottom: 0;

    @include size(md) {
      margin: 4rem;
      margin-bottom: 0;
    }

    &__left {
      position: relative;
      display: flex;

      h1 {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.4rem;

        @include size(md) {
          line-height: 2rem;
          font-size: 2.4rem;
        }
      }

      h1:nth-child(2) {
        position: absolute;
        // top: 100%;
        left: 100%;
      }
    }

    &__right {
      display: flex;
      gap: 2rem;
      overflow: hidden;

      p:nth-child(2) {
        opacity: 0.5;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }

      .back {
        p {
          opacity: 1;
        }
      }

      .back {
        display: flex;
        width: fit-content;
        align-items: center;
        gap: 1rem;

        position: fixed;
        cursor: pointer;
        top: 0;
        right: 0;
        padding: 2rem;

        @include size(md) {
          padding: 4rem;
        }

        &__images {
          position: relative;
          display: flex;
          gap: 0.25rem;
          overflow: hidden;
          width: 3rem;
          height: 2rem;

          img {
            width: 3rem;
            height: 2rem;
          }

          @include size(md) {
            width: 4rem;
            height: 3rem;

            img {
              width: 4rem;
              height: 3rem;
            }
          }

          &__move {
            display: flex;
            flex: 1;
            gap: 2rem;
            position: absolute;
            left: 0;
            transition: 0.35s ease-in-out;
          }
        }

        &:hover {
          .back__images__move {
            left: calc(-100% - 2rem);
          }
        }
      }
    }
  }

  p {
    position: relative;
    font-size: 1rem;
    transition: 0.2s ease-in-out;
    font-weight: 600;
    // text-transform: lowercase;

    @include size(md) {
      font-size: 1.3rem;
    }
  }

  &__about {
    overflow-y: scroll;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--foreground);
    color: var(--background);
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);

    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 2rem;

    @include size(md) {
      padding: 4rem;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    &__header {
      position: fixed;
      z-index: 3;
      top: 0;
      left: 0;
      width: 100vw;
      display: flex;
      justify-content: space-between;

      padding: 2rem;

      @include size(md) {
        padding: 4rem;
      }

      &__left {
        position: relative;
        display: flex;

        h1 {
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 1.4rem;

          @include size(md) {
            line-height: 2rem;
            font-size: 2.4rem;
          }
        }

        h1:nth-child(2) {
          position: absolute;
          top: 100%;
          left: 0;
        }
      }

      &__right {
        display: flex;
        gap: 2rem;

        p:nth-child(1) {
          opacity: 0.5;
          cursor: pointer;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    &__content {
      margin-top: 10rem;
      background-color: blue;
    }
  }
}
